@use "../tools" as t;

.button {
  @include t.flex-mix(center, center);
  width: 100%;
  max-width: 447px;
  padding-top: 34px;
  padding-bottom: 34px;
  border-radius: 30px;
  background-color: t.$buttonColor;
  box-shadow:
    0 0 0 15px t.$shadowColor,
    inset 2px -2px 12px 0 #226f215c;
  color: t.$whiteColor;
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  font-family: t.$font-title;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  white-space: nowrap;
  transition:
    background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.3s ease;

  &:hover {
    background-color: t.$buttonColorHover;
    box-shadow:
      0 0 0 15px t.$shadowColorHover,
      inset 2px -2px 12px 0 #226f215c;
  }

  &:active {
    transform: scale(0.99);
    background-color: t.$buttonColorActive;
    box-shadow:
      0 0 0 15px t.$shadowColorActive,
      inset 2px -2px 12px 0 #226f215c;
  }
}

.button-small {
  visibility: visible;
  width: 100%;
  max-width: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 17px;
  background-color: t.$buttonColor;
  box-shadow:
    0 0 0 10px t.$shadowColor,
    inset 2px -2px 12px 0 #226f215c;
  color: t.$whiteColor;
  font-weight: 400;
  font-size: 17px;
  font-size: 15px;
  line-height: 1;
  font-family: t.$font-title;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 1;
  transition:
    background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s ease;

  &:hover {
    background-color: t.$buttonColorHover;
    box-shadow:
      0 0 0 10px t.$shadowColorHover,
      inset 2px -2px 12px 0 #226f215c;
  }

  &:active {
    transform: scale(0.99);
    background-color: t.$buttonColorActive;
    box-shadow:
      0 0 0 10px t.$shadowColorActive,
      inset 2px -2px 12px 0 #226f215c;
  }

  @media (max-width: 1200px) {
    @include t.fluid-prop("padding-top", 12, 20, 768, 1200);
    @include t.fluid-prop("padding-bottom", 12, 20, 768, 1200);
    @include t.fluid-prop("border-radius", 14, 17, 768, 1200);
    box-shadow:
      0 0 0 8px t.$shadowColor,
      inset 2px -2px 12px 0 #226f215c;
  }
}

.theme-toggle {
  position: relative;
  padding: 5px;
  border: none;
  background: transparent;
  cursor: pointer;
  @include t.fluid-prop("width", 45, 55, 320, 1200);
  @include t.fluid-prop("height", 45, 55, 320, 1200);
  border-radius: 17px;
  box-shadow: inset 2px -2px 12px 0 #226f215c;
  transition: scale 0.3s ease;
  &:active {
    transform: scale(0.99);
  }

  &__icon {
    @include t.fluid-prop("width", 40, 50, 320, 1200);
    @include t.fluid-prop("height", 40, 50, 320, 1200);
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: contain;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.4s ease-out;
  }

  &__icon--dark {
    opacity: 1;
  }

  [data-theme="dark"] & {
    &__icon--light {
      opacity: 1;
    }
    &__icon--dark {
      opacity: 0;
    }
  }
}

// .button-theme {
//   visibility: visible;
//   z-index: 1;
//   position: relative;
//   width: 100%;
//   max-width: 60px;
//   height: 40px;
//   overflow: hidden;
//   border-radius: 13px;
//   background-color: t.$buttonColor;
//   box-shadow:
//     0 0 0 7px t.$shadowColor,
//     inset 2px -2px 12px 0 #226f215c;
//   opacity: 1;
//   transition:
//     background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
//     box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1),
//     opacity 0.3s ease,
//     visibility 0.3s ease,
//     transform 0.3s ease;

//   &:hover {
//     background-color: t.$buttonColorHover;
//     box-shadow:
//       0 0 0 7px t.$shadowColorHover,
//       inset 2px -2px 12px 0 #226f215c;
//   }

//   &:active {
//     transform: scale(0.99);
//     background-color: t.$buttonColorActive;
//     box-shadow:
//       0 0 0 7px t.$shadowColorActive,
//       inset 2px -2px 12px 0 #226f215c;
//   }
//   &::before {
//     position: absolute;
//     top: 4px;
//     bottom: 4px;
//     left: 4px;
//     width: calc(50% - 4px);
//     border-radius: 8px;
//     background-color: t.$textColor1;
//     content: "";
//     transition:
//       transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
//       background-color 0.3s;
//   }

//   @media (max-width: 1200px) {
//     @include t.fluid-prop("height", 32, 40, 375, 1200);
//     @include t.fluid-prop("max-width", 48, 60, 375, 1200);

//     box-shadow:
//       0 0 0 4px t.$shadowColor,
//       inset 1px -1px 8px 0 #226f215c;

//     &:hover {
//       background-color: t.$buttonColorHover;
//       box-shadow:
//         0 0 0 4px t.$shadowColorHover,
//         inset 2px -2px 8px 0 #226f215c;
//     }

//     &::before {
//       top: 3px;
//       bottom: 3px;
//       left: 3px;
//       width: calc(50% - 3px);
//     }
//   }

//   [data-theme="dark"] & {
//     &::before {
//       transform: translateX(calc(100% + 0px));
//       background-color: t.$whiteColor;
//     }
//   }
// }
