@use "../tools" as t;

.button {
  @include t.flex-mix(center, center);
  width: 100%;
  max-width: 447px;
  padding-top: 34px;
  padding-bottom: 34px;
  border-radius: 30px;
  background-color: t.$buttonColor;
  box-shadow:
    0 0 0 15px t.$shadowColor,
    inset 2px -2px 12px 0 #226f215c;
  color: t.$whiteColor;
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  font-family: t.$font-title;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  white-space: nowrap;
  transition:
    background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.3s ease;

  @media (hover: hover) {
    &:hover {
      background-color: t.$buttonColorHover;
      box-shadow:
        0 0 0 15px t.$shadowColorHover,
        inset 2px -2px 12px 0 #226f215c;
    }
  }

  &:focus-visible {
    outline: none;
    background-color: t.$buttonColorActive;
    box-shadow: 0 0 0 15px t.$shadowColorActive;
  }

  &:active {
    transform: scale(0.99);
    background-color: t.$buttonColorActive;
    box-shadow:
      0 0 0 15px t.$shadowColorActive,
      inset 2px -2px 12px 0 #226f215c;
  }
}

.button-small {
  visibility: visible;
  width: 100%;
  max-width: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 17px;
  background-color: t.$buttonColor;
  box-shadow:
    0 0 0 10px t.$shadowColor,
    inset 2px -2px 12px 0 #226f215c;
  color: t.$whiteColor;
  font-weight: 400;
  font-size: 17px;
  font-size: 15px;
  line-height: 1;
  font-family: t.$font-title;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 1;
  transition:
    background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s ease;

  @media (hover: hover) {
    &:hover {
      background-color: t.$buttonColorHover;
      box-shadow:
        0 0 0 10px t.$shadowColorHover,
        inset 2px -2px 12px 0 #226f215c;
    }
  }

  &:focus-visible {
    outline: none;
    background-color: t.$buttonColorActive;
    box-shadow: 0 0 0 10px t.$shadowColorActive;
  }

  &:active {
    transform: scale(0.99);
    background-color: t.$buttonColorActive;
    box-shadow:
      0 0 0 10px t.$shadowColorActive,
      inset 2px -2px 12px 0 #226f215c;
  }
}

.theme-toggle-btn {
  visibility: visible;
  position: relative;
  padding: 5px;
  border: none;
  background: transparent;
  cursor: pointer;
  opacity: 1;
  @include t.fluid-prop("width", 45, 55, 320, 1200);
  @include t.fluid-prop("height", 45, 55, 320, 1200);
  border-radius: 17px;
  box-shadow:
    0 0 0 5px transparent,
    inset 2px -2px 12px 0 #226f215c;
  transition:
    scale 0.3s ease,
    visibility 0.3s ease,
    opacity 0.3s ease,
    box-shadow 0.3s ease;

  &:focus-visible {
    outline: none;
    box-shadow:
      0 0 0 5px t.$shadowColorActive,
      inset 2px -2px 12px 0 #226f215c;
  }

  &:active {
    transform: scale(0.99);
  }

  &__icon {
    @include t.fluid-prop("width", 40, 50, 320, 1200);
    @include t.fluid-prop("height", 40, 50, 320, 1200);
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: contain;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.4s ease-out;
  }

  &__icon--dark {
    opacity: 1;
  }

  [data-theme="dark"] & {
    &__icon--light {
      opacity: 1;
    }
    &__icon--dark {
      opacity: 0;
    }
  }
}

.close-btn {
  position: absolute;
  top: -75px;
  right: 10px;
  @include t.fluid-prop("width", 40, 50, 320, 480);
  @include t.fluid-prop("height", 40, 50, 320, 480);
  border-radius: 15px;
  @include t.fluid-prop("border-radius", 12, 15, 320, 480);
  background: t.$buttonColor;
  box-shadow:
    0 0 0 10px t.$shadowColor,
    inset 2px -2px 12px 0 rgba(34, 111, 33, 0.36);
  transition:
    background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.3s ease;

  @media (hover: hover) {
    &:hover {
      background-color: t.$buttonColorHover;
      box-shadow: 0 0 0 10px t.$shadowColorHover;
    }
  }

  &:active {
    transform: scale(0.99);
    background-color: t.$buttonColorActive;
    box-shadow:
      0 0 0 10px t.$shadowColorActive,
      inset 2px -2px 12px 0 #226f215c;
  }

  html[data-theme="dark"] & {
    background-color: t.$darkItemBg;

    @media (hover: hover) {
      &:hover {
        background-color: t.$buttonColorHover;
        box-shadow:
          0 0 0 10px t.$shadowColorHover,
          inset 2px -2px 12px 0 #226f215c;
      }
    }

    &:active {
      transform: scale(0.99);
      background-color: t.$buttonColorActive;
      box-shadow:
        0 0 0 10px t.$shadowColorActive,
        inset 2px -2px 12px 0 #226f215c;
    }
  }

  &__span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 3px;
    transform: translate(-50%, -50%) rotate(0);
    border-radius: 1.5px;
    background-color: t.$whiteColor;

    &:nth-child(1) {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:nth-child(2) {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  @media (max-width: 480px) {
    top: -65px;
  }
}
