@use "../tools" as t;

.nav {
  &__list {
    @include t.flex-mix(space-between, center, row, 20px);
    @include t.fluid-prop("width", 450, 646, 1200, 1440);
  }

  &__item {
  }

  &__link {
    color: t.$textColor1;
    font-size: 15px;
  }

  @media (max-width: 1200px) {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100dvh;
    height: 100vh;
    padding: 10px;
    overflow-y: auto;
    transform: translateX(100%);
    background-color: t.$bgColorSecondary;
    transition: transform 0.3s ease-in-out;

    &.is-open {
      transform: translateX(0);
      z-index: 10;
    }

    &__list {
      @include t.flex-mix(center, center, column, 20px);
      width: 100%;
      height: 100%;
    }

    &__link {
    font-size: 18px;
  }

  @media (max-width: 767px) {
    //  width: 100%;
  }
  }
}
