@use "../tools" as t;

.popup-success {
    padding: 50px 20px;
  width: 100%;
  @include t.fluid-prop("width", 280, 445, 320, 480);
  @include t.fluid-prop("border-radius", 30, 50, 320, 480);
  background-color: t.$bgColorSecondary;
  box-shadow: 0 0 10px 0 #495d4c1a;

  &__body {
    width: 100%;
     background-color: t.$whiteColor;
    box-shadow: 0 0 10px 0 #495d4c1a;
    @include t.fluid-prop("border-radius", 20, 40, 320, 480);
      padding: 50px 15px;
  }
  &__title {
     font-family: t.$font-title;
    @include t.fluid-prop("font-size", 35, 45, 320, 480);
    text-align: center;
    text-transform: uppercase;
    color: t.$textColor1;
  }

  &__text {
     @include t.fluid-prop("font-size", 15, 22, 320, 480);
    text-align: center;
    margin-bottom: 40px;
  }

  &__text--name {
    margin-bottom: 20px;

    span {
        font-weight: 700;
        text-transform: capitalize;
    }
  }

  &__icon-wrapper {
    text-align: center;
  }

  &__icon {
     font-size: 100px;
    line-height: 1;
    font-weight: 700;
    color: t.$iconFill;
  }

}

