@use "../tools" as t;

.comfort {
  width: 100%;
  padding: 50px 0 50px 0;
  overflow-x: clip;
  overflow-y: visible;
   background-color: var(--clr-bodyBg);

  &__inner {
    width: 100%;
    @include t.flex-mix(space-between, center, row, 90px);

    @media (max-width: 1100px) {
      @include t.flex-mix(space-between, center, column, 90px);
    }
  }

  &__content {
    width: 100%;
    max-width: 510px;
  }

  &__title {
    margin-bottom: 28px;
  }

  &__benefits {
    width: 100%;
    margin-bottom: 50px;
  }

  &__benefits-icons {
    width: 100%;
    @include t.flex-mix(space-between, center, row, 15px);
    margin-bottom: 35px;

    @media (max-width: 576px) {
      flex-wrap: nowrap;
      justify-content: start;
      width: max-content;
      overflow-x: auto;
      overflow-y: clip;
      animation: marqueeScroll 18s linear infinite;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;
      will-change: transform;
      &::-webkit-scrollbar {
        display: none;
      }
      &:active,
      &:hover {
        animation-play-state: paused;
      }
    }
  }

  &__benefits-icon {
    width: 70px;
    height: 40px;
    border: 1px solid t.$iconFill;
    border-radius: 20px;
    @include t.flex-mix(center, center);
    flex-shrink: 0;
    scroll-snap-align: center;

    &--mob {
      display: none;

      @media (max-width: 576px) {
        display: flex;
      }
    }
  }

  &__benefits-info {
    margin-bottom: 25px;
  }

  &__benefits-info-item {
    position: relative;
    padding-left: 25px;
    color: t.$textColor3;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &::before {
      position: absolute;
      top: 5px;
      left: 0;
      width: 15px;
      height: 15px;
      border: 1px solid t.$iconFill;
      border-radius: 50%;
      content: "";
    }
    &::after {
      position: absolute;
      top: 9px;
      left: 4px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: t.$iconFill;
      content: "";
    }
  }

  &__benefits-text {
    color: var(--clr-textColor);
    font-weight: 500;
    line-height: 1.6;
  }

  &__button-box {
    padding: 15px;

    @media (max-width: 576px) {
      max-width: 468px;
      margin: 0 auto;
      padding: 10px;
    }
  }

  &__button {
   

    @media (max-width: 576px) {
      box-shadow:
        0 0 0 10px t.$shadowColor,
        inset 2px -2px 12px 0 #226f215c;
    }
  }

  &__gallery {
    position: relative;
    width: 100%;
    max-width: 577px;

    @media (max-width: 1100px) {
      width: 1100px;
      max-width: 100%;
    }
  }

  &__gallery-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 718px;
    height: 718px;
    transform: translate(-30%, -55%);
    border-radius: 50%;
    background-color: #54e165;
    opacity: .5;
    filter: blur(100px);
    pointer-events: none;

    @media (max-width: 1100px) {
      width: 718px;
      height: 400px;
      transform: translate(-40%, -50%);
    }
    @media (max-width: 600px) {
      width: 718px;
      height: 350px;
      transform: translate(-40%, -50%);
    }
  }

  &__gallery-image-list {
    position: relative;
    @include t.grid-minmax(2, 220px, 273px);
    column-gap: 35px;
    row-gap: 20px;
    width: 100%;
    padding-bottom: 8px;

    @media (max-width: 1100px) {
      @include t.grid-minmax(4, 170px, 250px);
      column-gap: 20px;
      justify-content: space-between;
    }

    @media (max-width: 768px) {
      overflow-x: auto;
      overflow-y: clip;
      scroll-snap-type: x mandatory;

      @media (any-hover: none) {
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    @media (any-hover: hover) {
      scrollbar-color: transparent transparent;
      scrollbar-width: thin;
      transition: scrollbar-color 0.3s ease;

      &::-webkit-scrollbar {
        display: block;
        height: 3px;
        cursor: pointer;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: t.$buttonColor;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
        background-color: transparent;
        transition: background-color 0.3s ease;
      }

      &:hover {
        scrollbar-color: t.$buttonColor transparent;

        &::-webkit-scrollbar-thumb {
          background-color: t.$buttonColor;
        }
      }
    }
  }

  &__gallery-image-box {
    position: relative;
    &:nth-of-type(2) {
      transform: translateY(70px);
    }
    &:nth-of-type(4) {
      transform: translateY(70px);
    }

    @media (max-width: 1100px) {
      aspect-ratio: 3 / 4;
      width: 100%;

      &:nth-of-type(1) {
        margin-bottom: 0;
      }

      &:nth-of-type(2) {
        transform: translateY(0);
      }
      &:nth-of-type(4) {
        transform: translateY(0);
      }
    }
  }

  &__gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 39px;

    @media (max-width: 1100px) {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

@keyframes marqueeScroll {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
