
.request {
  width:100%;
  display: flex;
  justify-content: space-between;
}

.svg-gust {
 flex-grow: 1; 
  min-width: 0;
  overflow: hidden; 
  pointer-events: none;
  g[id^="gust-"] {
   
    opacity: 0;
    transform-origin: center;
    animation: wind-flow linear infinite;

    @for $i from 1 through 10 {
     &:nth-child(#{$i}) {
     animation-duration: #{3 + ($i * 0.4)}s;
     animation-delay: -#{($i * .8s)}; 
      }
    }
  }
}



@keyframes wind-flow {
  0% {
    opacity: 0.05;
      transform: translate(50px, 1px);
   
  }
  10% {
    opacity: 0.4;
      transform: translate(40px, -1px);

  }
  20% {
    opacity: 0.6; 
      transform: translate(30px, 1px);
   
  }
  30% {
    opacity: 0.8; 
      transform: translate(20px, -1px);
   
  }
 
  40% {
    opacity: 0.6; 
      transform: translate(10px, 1px);

  }
  50% {
    opacity: 0.4;
     transform: translate(0, -1px);
  }
   
  60% {
    opacity: 0.6;
      transform: translate(-10px, 1px);

  }
  70% {
    opacity: 0.8; 
      transform: translate(-20px, -1px);
   
  }
 80% {
    opacity: 0.6; 
      transform: translate(-30px, 1px);
   
  }
 
  90% {
    opacity: 0.4;
      transform: translate(-40px, -1px);

  }
  100% {
    opacity: 0.05;
    transform: translate(-50px, 1px);
  }
}

.propeller-box {
  width: 220px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: propeller-spin .9s linear infinite;
  // background-color: #b73434;
}

.svg-propeller {
  flex: 0 0 220px; // Запрещаем сжиматься (shrink: 0) и расти (grow: 0)
  width: 220px;
  height: 220px;
  overflow: visible; 

  .propeller-blade {
   transform-origin: 106px 110px;
    
    animation: propeller-spin .7s linear infinite;
    
    // 3. Чтобы не было "лесенки" при быстром вращении
    shape-rendering: geometricPrecision;
  }
}

@keyframes propeller-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}