@use "../tools" as t;

.services {
  &__inner {
    display: flex;
    align-items: stretch;
  }

  &__info {
    // 1. Задаем ширину (например, 45% от всего wide-контейнера)
    flex: 0 0 45%; 

    // 2. ГЛАВНАЯ МАГИЯ:
    // Высчитываем левый отступ, чтобы текст совпал с обычным контейнером
    // Формула: (100% ширины - ширина контента) / 2
    padding-left: calc((100% - 1200px) / 2);
    padding-right: 40px; // Отступ от зеленой плашки
    padding-top: 60px;
  }

  &__content-wrapper {
    flex: 0 0 55%;
    // Этот блок просто занимает правую часть до самого края container-wide
  }

  svg {
   width: 33px;
   height: 33px;
   fill:t.$iconFill;
   stroke: t.$iconStroke; 
  }
}

// На маленьких экранах (когда окно меньше 1200px)
@media (max-width: 1240px) {
  .services__info {
    padding-left: 20px; // Обычный боковой отступ
  }
}