


.svg-lungs path{
  transform-origin: 50% 20%; 
  animation: breathe 5s ease-in-out infinite;
  
}

.svg-leaves {
  width: 100%;
}

@keyframes leaf-sway {
  0% {
    transform: rotate(-7deg) skewX(-1deg);
  }
  100% {
    transform: rotate(7deg) skewX(1deg);
  }
}

.svg-leaves {
 
  g[id^="leaf-"] {
    transform-origin: center bottom;
    transform-box: fill-box;
    animation: leaf-sway 3s ease-in-out infinite alternate;
    @for $i from 1 through 10 {
      &:nth-child(#{$i}n) {
        animation-duration: #{2.5 + ($i * 0.3)}s;
        animation-delay: -#{($i * 0.5)}s;
      }
    }
  }

}

@keyframes breathe {
  0%, 100% {
    transform: scale(1);
    filter: drop-shadow(0 0 5px rgba(103, 198, 107, 0.2));
  }
  50% {
    transform: scale(1.03); // Мягкое расширение
    filter: drop-shadow(0 0 15px rgba(103, 198, 107, 0.5)); // Эффект свечения на вдохе
  }
}

.svg-lungs:hover {
  scale: (50%);
}