@font-face {
  font-style: normal;
  font-weight: 300;
  src: url("../../assets/fonts/ruberoid/Ruberoid-Light.woff2") format("woff2");
  font-family: "Ruberoid";
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-weight: 500;
  src: url("../../assets/fonts/ruberoid/Ruberoid-Medium.woff2") format("woff2");
  font-family: "Ruberoid";
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-weight: 600;
  src: url("../../assets/fonts/ruberoid/Ruberoid-SemiBold.woff2") format("woff2");
  font-family: "Ruberoid";
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/ruberoid/Ruberoid-Bold.woff2") format("woff2");
  font-family: "Ruberoid";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/proxima-nova/ProximaNova-Regular.woff2") format("woff2");
  font-family: "Proxima Nova";
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-weight: 600;
  src: url("../../assets/fonts/proxima-nova/ProximaNova-Semibold.woff2") format("woff2");
  font-family: "Proxima Nova";
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/proxima-nova/ProximaNova-Bold.woff2") format("woff2");
  font-family: "Proxima Nova";
  font-display: swap;
}





