@use "../tools" as t;


:root {
  @include t.generate-theme(t.$light-theme);

  &[data-theme="dark"] {
    @include t.generate-theme(t.$dark-theme);
  }
}



body {
  font-family: t.$font-text; 
  font-size: t.$fs-base;
  font-weight: 400;
  background-color: var(--clr-bodyBg);
  color: var(--clr-textColor);
  transition: background-color 0.3s ease, color 0.3s ease;
}



