@use "../tools" as t;

:root {
  @include t.generate-theme(t.$light-theme);

  &[data-theme="dark"] {
    @include t.generate-theme(t.$dark-theme);
  }
}

body {
  overflow-x: hidden;
  background-color: var(--clr-bodyBg);
  color: var(--clr-textColor);
  font-weight: 400;
  font-size: t.$fs-base;
  font-family: t.$font-text;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  &.menu-open {
    overflow: hidden;
    touch-action: none;
  }
  &.modal-open {
    overflow: hidden;
    touch-action: none;
  }
}
