
.icon {
  display: inline-block;
  width: 1em;
  max-width: 100%;
  height: 1em;
  fill: currentColor;
  vertical-align: middle;
  transition:
    fill 0.15s ease,
    stroke 0.15s ease;

  :where([fill]:not([fill="none"], [fill^="url"])) {
    fill: currentColor;
  }

  :where([stroke]:not([stroke="none"], [stroke^="url"])) {
    stroke: currentColor;
  }
}

.svg-img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  fill: currentColor;

  transition:
    fill 0.2s ease,
    stroke 0.2s ease;

  :where([fill]:not([fill="none"], [fill^="url"])) {
    fill: currentColor;
  }

  :where([stroke]:not([stroke="none"], [stroke^="url"])) {
    stroke: currentColor;
  }
}


.svg-icon {
  // Базовые настройки для всех анимированных иконок
  width: var(--icon-size, 100px);
  height: var(--icon-size, 100px);
  display: block;
  overflow: visible;

  // Стиль для фонового контура
  .icon-bg * {
    fill: #e0e0e0 !important;
    stroke: none !important;
  }

  // Стиль для наливаемой "воды"
  .icon-water * {
    fill: #70c66b !important;
    stroke: none !important;
  }

  // Сама анимация наполнения (clip-path)
  .icon-fill {
    clip-path: inset(100% 0 0 0);
    transition: clip-path 1.5s ease-in-out;
  }

  // Класс, который мы добавим через JS (или при ховере для теста)
  &.svg-animated .icon-fill {
    clip-path: inset(0% 0 0 0);
  }
}