
<div class="modal" id="gallery">
  <section
  class="gallery modal__content"
>
  <div class="gallery__slider swiper">
    <div class="gallery__slider-track swiper-wrapper"></div>

    <div class="swiper-button-next gallery__button-next"></div>
    <div class="swiper-button-prev gallery__button-prev"></div>
    <div class="swiper-pagination gallery__pagination"></div>
    <button
      class="close-btn"
      type="button"
      aria-label="Close modal"
    >
      <span class="close-btn__span"></span>
      <span class="close-btn__span"></span>
    </button>
  </div>
</section>
</div>

