<section
  class="gallery modal__content"
  id="gallery"
  data-modal-target="gallery"
>
  <div class="gallery__slider swiper">
    <div class="gallery__slider-track swiper-wrapper"></div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
    <button
      class="close-btn"
      type="button"
      aria-label="Close modal"
    >
      <span class="close-btn__span"></span>
      <span class="close-btn__span"></span>
    </button>
  </div>
</section>
