<nav class="nav {=$class}">
      <ul class="nav__list">
        <li class="nav__item">
          <a
            class="nav__link"
            href="#services"
            >services</a
          >
        </li>
        <li class="nav__item">
          <a
            class="nav__link"
            href="#installation"
            >pricing</a
          >
        </li>
        <li class="nav__item">
          <a
            class="nav__link"
            href="#about"
            >about</a
          >
        </li>
        <li class="nav__item">
          <a
            class="nav__link"
            href="#scheme"
            >workflow</a
          >
        </li>
        <li class="nav__item">
          <a
            class="nav__link"
            href="#projects"
            >projects</a
          >
        </li>
        <li class="nav__item">
          <a
            class="nav__link"
            href="#footer"
            >contacts</a
          >
        </li>
      </ul>
    </nav>