<nav class="nav {=$class}">
      <ul class="nav__list">
        <li class="nav__item">
          <a
            class="nav__link"
            href="#services"
            >services</a
          >
        </li>
        <li class="nav__item">
          <a
            class="nav__link"
            href="#about"
            >about us</a
          >
        </li>
        <li class="nav__item">
          <a
            class="nav__link"
            href="#benefits"
            >benefits</a
          >
        </li>
        <li class="nav__item">
          <a
            class="nav__link"
            href="#equipment"
            >equipment</a
          >
        </li>
        <li class="nav__item">
          <a
            class="nav__link"
            href="#steps"
            >workflow</a
          >
        </li>
        <li class="nav__item">
          <a
            class="nav__link"
            href="#reviews"
            >reviews</a
          >
        </li>
      </ul>
    </nav>