<div
  class="tabs-nav"
  role="tablist"
  aria-label="Services selection"
>
  <button
    class="tabs-nav__btn tabs-nav__btn--active"
    role="tab"
    aria-selected="true"
    aria-controls="panel-ventilation"
    id="tab-ventilation"
  >
    <load src="/src/html/icons/services/vent-tab.html" />
    <span class="tabs-nav__text">Ventilation Systems</span>
  </button>

  <button
    class="tabs-nav__btn"
    role="tab"
    aria-selected="false"
    aria-controls="panel-conditioning"
    id="tab-conditioning"
  >
  <load src="/src/html/icons/services/air-conditioning-tab.html" />
  <span class="tabs-nav__text">AC Systems</span>
  </button>
</div>
