<footer
  class="footer"
  id="footer"
>
  <div
    class="icon-wrapper footer__bg-wrapper"
    data-svg-receiver
    data-svg-id="footer-bg"
    aria-label="Background image"
    role="img"
  ></div>
  <div class="container">
    <div class="footer__inner">
      <a
        class="footer__logo"
        href="index.html"
        aria-label="Pascal Vent"
      >
        <div
          class="icon-wrapper logo__wrapper"
          data-svg-receiver
          data-svg-id="logo"
          role="img"
        ></div>
      </a>
      <div class="footer__info">
        <p class="footer__info-text">
          Pascal Vent is among the top specialized companies, offering a wide
          range of products and services for HVAC systems, delivering excellent
          service and convenience to our customers.
        </p>
        <p class="footer__info-tagline">
          Clean air together with
          <span class="footer__info-tagline-accent">Pascal Vent</span>
        </p>
      </div>
      <div class="footer__contacts">
        <h3 class="footer__contacts-title footer__title">Contacts</h3>
        <ul class="footer__contacts-list">
          <li class="footer__contacts-item">
            <a
              class="footer__contacts-box footer__phone-link"
              href="tel:+442079460018"
            >
              <div
                class="icon-wrapper icon-wrapper--phone"
                data-svg-receiver
                data-svg-id="phone"
                aria-hidden="true"
              ></div>

              <span
                class="footer__contacts-text"
                data-text="+44&nbsp;20&nbsp;7946&nbsp;0018"
                >+44 20 7946 0018</span
              >
            </a>
          </li>

          <li class="footer__contacts-item">
            <a
              class="footer__contacts-box footer__phone-link"
              href="tel:+442079460552"
            >
              <div
                class="icon-wrapper icon-wrapper--phone"
                data-svg-receiver
                data-svg-id="phone"
                aria-hidden="true"
              ></div>

              <span
                class="footer__contacts-text"
                data-text="+44&nbsp;20&nbsp;7946&nbsp;0552"
                >+44 20 7946 0552</span
              >
            </a>
          </li>
          <li class="footer__contacts-item">
            <a
              class="footer__contacts-box footer__mail-link"
              href="mailto:PascalVent@gmail.com"
            >
              <div
                class="icon-wrapper icon-wrapper--mail"
                data-svg-receiver
                data-svg-id="mail"
                aria-hidden="true"
              ></div>

              <span
                class="footer__contacts-text"
                data-text="PascalVent@gmail.com"
                >PascalVent@gmail.com</span
              >
            </a>
          </li>
          <li class="footer__contacts-item">
            <div class="footer__contacts-box">
              <div
                class="icon-wrapper icon-wrapper--calendar"
                data-svg-receiver
                data-svg-id="calendar"
                aria-hidden="true"
              ></div>

              <span class="footer__contacts-text"
                >Mon–Sat, 9:00 am – 7:00 pm</span
              >
            </div>
          </li>
          <li class="footer__contacts-item">
            <div class="footer__contacts-box">
              <div
                class="icon-wrapper icon-wrapper--map-pin"
                data-svg-receiver
                data-svg-id="map-pin"
                aria-hidden="true"
              ></div>

              <span class="footer__contacts-text"
                >Greater London,<br />
                London</span
              >
            </div>
          </li>
        </ul>
      </div>
      <div class="footer__request">
        <h3 class="footer__request-title footer__title">Request a Callback</h3>
        <form
          class="footer__form form"
          action="#"
          method="POST"
          data-validate
          novalidate
        >
          <div class="footer__input-box form__input-box">
            <input
              class="footer__input"
              id="footer-name"
              type="text"
              placeholder="Full name"
              name="name"
              aria-describedby="name-error"
              required
              autocomplete="off"
            />
            <span
              class="footer__error form__error-text"
              id="name-error"
              >Please enter a valid name</span
            >
          </div>
          <div class="footer__input-box form__input-box">
            <input
              class="footer__input"
              id="footer-tel"
              type="tel"
              placeholder="Phone"
              name="tel"
              aria-describedby="tel-error"
              required
              autocomplete="off"
            />
            <span
              class="footer__error form__error-text"
              id="tel-error"
              >Please enter a valid number</span
            >
          </div>

          <div class="footer__button-box">
            <button
              class="button-small footer__button"
              type="submit"
            >
              send request
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <a
    class="footer__up-button"
    href="#hero"
  >
    <load
      class="footer__up-button-svg"
      src="/src/html/icons/common/prev-arrow.html"
    />
  </a>
</footer>
