<header class="header">
  <div class="header__inner">
   
     
    <a class="logo" href="#">
 <load src="/src/html/icons/common/logo.html" />
    </a>

    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a
            class="nav__link"
            href="#!"
            >nav link</a
          >
        </li>
        <li class="nav__item">
          <a
            class="nav__link"
            href="#!"
            >nav link</a
          >
        </li>
        <li class="nav__item">
          <a
            class="nav__link"
            href="#!"
            >nav link</a
          >
        </li>
      </ul>
    </nav>

    <!-- <load src="/src/html/icons/common/map-pin.html" /> -->

    <a
      href="tel:+12345678"
      class="header__phone"
    >
      <load src="/src/html/icons/common/phone.html" />
    </a>
     <button class="button button-small">Get in Touch</button>
    <button
      class="btn-primary"
      id="theme"
      aria-label="change theme"
    >
      change theme
    </button>

    <load src="/src/html/components/burger.html" />
  </div>
</header>
