<header
  class="header"
  id="header"
>
  <div class="header__inner">
    <a
      class="header__logo logo"
      href="index.html"
    >
      <load
        class="logo__svg"
        src="/src/html/icons/common/logo.html"
      />
    </a>

    <load
      class="header__nav"
      src="/src/html/components/nav.html"
    />

    <div class="header__actions">
      <button
        class="button-theme"
        id="themeToggle"
        aria-label="Toggle theme"
      ></button>

      <button class="button-small header__button-small">get in touch</button>

      <load src="/src/html/components/burger.html" />
    </div>
  </div>
</header>

