<header
  class="header"
  id="header"
>
  <div class="header__inner">
    <a
      class="header__logo logo"
      href="index.html"
    >
      <load
        class="logo__svg"
        src="/src/html/icons/common/logo.html"
      />
    </a>

    <load
      class="header__nav"
      src="/src/html/components/nav.html"
    />
    <div class="header__actions">
      <button
        class="theme-toggle"
        id="theme"
        aria-label="Toggle theme"
      >
        <img
          class="theme-toggle__icon theme-toggle__icon--dark"
          src="/src/assets/img/webp/change-theme2.webp"
          alt="Turn on dark theme"
        />
        <img
          class="theme-toggle__icon theme-toggle__icon--light"
          src="/src/assets/img/webp/change-theme1.webp"
          alt="Turn on light theme"
        />
      </button>

      <button class="button-small header__button-small" data-modal="call">get in touch</button>

      <load src="/src/html/components/burger.html" />
    </div>
  </div>
</header>
