@use "sass:map";

// 1. fonts

$font-title: "Ruberoid", sans-serif;
$font-text:
  "Proxima Nova",
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  sans-serif;
$fs-base: 16px;

// 3 colors

$buttonColor: #9cd3a3;
$buttonColorHover: #54e165;
$buttonColorActive: #5ccd6a;
$bgColorSecondary: #d9fadd;
$bgColorSecondaryBlur: #d9fadd80;
$bgColorThird: #ebedec;
$bgColorThirdDark: rgb(21, 29, 23);
$bgColorForth: #d9fadd;
$bgColorForthDark: #5ccd6a;
$modalBg: #343d36f0;
$successColor: #54e165;
$errorColor: #ff5858;
$whiteColor: rgb(255, 255, 255);
$darkBodyBg:rgb(21, 29, 23);
$darkItemBg:rgb(31, 43, 34);
$mainTitleColor:#495e4c; 
$mainTitleColorDark:#bbc4bc; 


$shadowColor: #78c08125;
$shadowColorHover: #78c08150;
$shadowColorActive: #78c08175;

$iconFill: #78c081;
$iconStroke: #577a5b;

$textColor1: #495e4c;
$textColor2: #848484;
$textColor3: #7ca381;
$textColor4: #7b897d;
$textColor5: #78c081;

 

// --- НОВЫЕ ЦВЕТА ДЛЯ ТЁМНОЙ ТЕМЫ ---
//$dark-bg: #151d17;         // Глубокий хвойный фон (body)
//$dark-surface: #1f2b22;    // Карточки и модалки (чуть светлее фона)
//$dark-text: #f5f7f5;       // Высококонтрастный текст (почти белый)
//$dark-muted: #a3b2a6;      // Среднеконтрастный текст (приглушенный хвойный)
//$dark-border: #2d3e31;     // Границы в темной теме

// 4. themes

$light-theme: (
  "bodyBg": $whiteColor,
  "itemBg": $bgColorSecondary,
  "heroBg" :$bgColorThird,
  "decorBg":$bgColorForth,
  "mainTitle" :$mainTitleColor,
  "titleColor": $textColor1,
  "textColor": $textColor2,
);

$dark-theme: (
  "bodyBg": $darkBodyBg,
  "itemBg": $darkItemBg,
  "heroBg" :$bgColorThirdDark,
  "decorBg":$bgColorForthDark,
  "titleColor": $textColor5,
  "mainTitle" :$mainTitleColorDark,
  "textColor": $bgColorSecondary,
);

// Переменная,За что отвечает
// --clr-bg,Главный фон страницы (body).
// --clr-surface,"Фон вложенных элементов: карточки, модалки, плашки."
// --clr-text,Основной текст (высокий контраст).
// --clr-text-muted,"Второстепенный текст, подписи, плейсхолдеры (средний контраст)."
// --clr-accent,"Главный акцентный цвет (кнопки, активные ссылки)."
// --clr-border,"Цвет границ, разделителей, инпутов."
