@use "sass:map";

// 1. fonts

$font-title: 'Ruberoid', sans-serif;
$font-text: 'Proxima Nova', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
$fs-base: 16px;



// 3 colors

$accentColor:#9cd3a3;
$accentColorHover:#54e165;
$accentColorActive:#5ccd6a;
$bgColorSecondary:#d9fadd;
$bgColorSecondaryBlur:#d9fadd80;
$successColor: #54e165;
$errorColor: #ff5858;
$whiteColor: #ffffff;
$shadowColor:#78c08125;
$shadowColorHover:#78c08150;
$shadowColorActive:#78c08175;

$textColor1:#495e4c;
$textColor2:#848484;
$textColor3:#7ca381;
$textColor4:#7b897d;
$textColor5:#78c081;


// 4. themes

$light-theme: (
  "bodyBg":$whiteColor,
  "itemBg": $bgColorSecondary,
  "titleColor": $textColor1,
  "textColor":$textColor2
  
);

$dark-theme: (
  "bodyBg":$textColor1,
  "itemBg": $accentColorActive,
  "titleColor": $whiteColor,
  "textColor":$bgColorSecondary
);



// Переменная,За что отвечает
// --clr-bg,Главный фон страницы (body).
// --clr-surface,"Фон вложенных элементов: карточки, модалки, плашки."
// --clr-text,Основной текст (высокий контраст).
// --clr-text-muted,"Второстепенный текст, подписи, плейсхолдеры (средний контраст)."
// --clr-accent,"Главный акцентный цвет (кнопки, активные ссылки)."
// --clr-border,"Цвет границ, разделителей, инпутов."