@use "sass:map";

// fonts

$font-title: "Ruberoid", sans-serif;
$font-text:
  "Proxima Nova",
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  sans-serif;
$fs-base: 16px;

// colors

$buttonColor: #9cd3a3;
$buttonColorHover: #54e165;
$buttonColorActive: #5ccd6a;
$bgColorSecondary: #d9fadd;
$bgColorSecondaryBlur: #d9fadd80;
$bgColorThird: #ebedec;
$bgColorThirdDark: rgb(21, 29, 23);
$bgColorForth: #d9fadd;
$bgColorForthDark: #5ccd6a;
$modalBg: #343d36f0;
$successColor: #54e165;
$errorColor: #ff5858;
$whiteColor: rgb(255, 255, 255);
$darkBodyBg:rgb(21, 29, 23);
$darkItemBg:rgb(31, 43, 34);
$mainTitleColor:#495e4c; 
$mainTitleColorDark:#bbc4bc; 


$shadowColor: #78c08125;
$shadowColorHover: #78c08150;
$shadowColorActive: #78c08175;

$iconFill: #78c081;
$iconStroke: #577a5b;

$textColor1: #495e4c;
$textColor2: #848484;
$textColor3: #7ca381;
$textColor4: #7b897d;
$textColor5: #78c081;



//  themes map

$light-theme: (
  "bodyBg": $whiteColor,
  "itemBg": $bgColorSecondary,
  "heroBg" :$bgColorThird,
  "decorBg":$bgColorForth,
  "mainTitle" :$mainTitleColor,
  "titleColor": $textColor1,
  "textColor": $textColor2,
);

$dark-theme: (
  "bodyBg": $darkBodyBg,
  "itemBg": $darkItemBg,
  "heroBg" :$bgColorThirdDark,
  "decorBg":$bgColorForthDark,
  "mainTitle" :$mainTitleColorDark,
  "titleColor": $textColor5,
  "textColor": $bgColorSecondary,
);

